/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* source-sans-pro-200 - latin */
@font-face {
  font-family: "Abril Fatface";
  font-weight: normal;
  font-style: normal;
  src: url("../rick-randy/fonts/abril_fatface/AbrilFatface-Regular.eot"); /* IE9 Compat Modes */
  src: url("../rick-randy/fonts/abril_fatface/AbrilFatface-Regular.eot?#iefix") format("embedded-opentype"), url("../rick-randy/fonts/abril_fatface/AbrilFatface-Regular.woff2") format("woff2"), url("../rick-randy/fonts/abril_fatface/AbrilFatface-Regular.woff") format("woff"), url("../rick-randy/fonts/abril_fatface/AbrilFatface-Regular.ttf") format("truetype"), url("../rick-randy/fonts/abril_fatface/AbrilFatface-Regular.svg#AbrilFatface-Regular") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Chiller";
  font-weight: normal;
  font-style: normal;
  src: url("../rick-randy/fonts/chiller/Chiller-Regular.eot");
  src: url("../rick-randy/fonts/chiller/Chiller-Regular.eot?#iefix") format("embedded-opentype"), url("../rick-randy/fonts/chiller/Chiller-Regular.woff2") format("woff2"), url("../rick-randy/fonts/chiller/Chiller-Regular.woff") format("woff"), url("../rick-randy/fonts/chiller/Chiller-Regular.ttf") format("truetype"), url("../rick-randy/fonts/chiller/Chiller-Regular.svg#Chiller-Regular") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  src: url("../rick-randy/fonts/poppins/Poppins-Regular.eot");
  src: url("../rick-randy/fonts/poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../rick-randy/fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../rick-randy/fonts/poppins/Poppins-Regular.woff") format("woff"), url("../rick-randy/fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../rick-randy/fonts/poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../rick-randy/fonts/poppins/Poppins-SemiBold.eot");
  src: url("../rick-randy/fonts/poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../rick-randy/fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../rick-randy/fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../rick-randy/fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../rick-randy/fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
}
.hidden {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: normal;
  scroll-behavior: smooth;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h1 > span,
h2 > span,
h3 > span {
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  line-height: 26px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

section {
  margin: 0 auto;
  width: 90%;
}

.button {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 30px;
  color: hsl(0deg, 0%, 0%);
  font-weight: 600;
  font-size: 22px;
}

.button-primary {
  background-color: hsl(43deg, 100%, 50%);
  border: 2px solid hsl(43deg, 100%, 50%);
}

.button-primary:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(43deg, 100%, 50%);
  cursor: pointer;
}

.button-secondary {
  background-color: hsl(0deg, 0%, 0%);
  border: 2px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}

.button-secondary:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 0%);
  cursor: pointer;
}

.heading-wrapper-braces {
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px 70px 30px 70px;
}

.border {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  border: 1px solid hsl(0deg, 0%, 0%);
}

.quote-wrapper {
  bottom: 0;
  width: 15%;
  text-align: center;
  rotate: 12.5deg;
  font-family: "Chiller";
  font-size: 26px;
  color: hsl(210deg, 53%, 14%);
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.wrapper {
  display: flex;
  align-items: center;
}

.menu-content {
  display: flex;
}

.nav-center ul li {
  display: inline-block;
}
.nav-center a {
  box-sizing: border-box;
  margin-right: 30px;
  color: hsl(0deg, 0%, 0%);
  font-size: 22px;
}
.nav-center a:hover {
  text-decoration: underline;
  text-decoration-color: hsl(43deg, 100%, 50%);
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}

.nav-left img {
  width: 70px;
  height: 70px;
}

.nav-right ul li {
  display: inline-block;
}
.nav-right a:first-child {
  margin-right: 10px;
}

.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}

@media (max-width: 1281px) {
  .hamburger {
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 9999;
    order: 3;
    align-self: center;
  }
  .hamburger .line {
    height: 7px;
    border-radius: 9999px;
    transition: transform 0.5s ease;
  }
  .hamburger .line:not(:nth-child(3)) {
    margin-bottom: 5px;
    background-color: hsl(0deg, 0%, 0%);
  }
  .hamburger .line:nth-child(3) {
    background-color: hsl(43deg, 100%, 50%);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    background-color: hsl(0deg, 0%, 100%);
    width: 350px;
    padding: 21px 0px 21px 21px;
    z-index: 5;
    box-shadow: 0px 0px 600px 600px rgba(0, 0, 0, 0.45);
  }
  .mobile-menu .mobile-menu-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .mobile-menu .mobile-menu-heading:has(.close) {
    margin-top: 4px;
  }
  .mobile-menu .top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 41px;
  }
  .mobile-menu .logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  .mobile-menu .close {
    margin-right: 5vw;
    height: 40px;
    padding-top: 16px;
  }
  .mobile-menu .close .line {
    height: 7px;
    width: 44px;
    border-radius: 9999px;
  }
  .mobile-menu .close .line:first-child {
    background-color: hsl(0deg, 0%, 0%);
    transform: rotate(45deg);
  }
  .mobile-menu .close .line:nth-child(2) {
    display: none;
  }
  .mobile-menu .close .line:last-child {
    background-color: hsl(43deg, 100%, 50%);
    transform: rotate(-45deg) translate(-1px, 5px);
    transform-origin: 0px 0px;
  }
  .mobile-menu .menu-content {
    flex: 1;
    display: block;
    align-self: flex-start;
    margin-left: 25px;
  }
  .mobile-menu .menu-content .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .mobile-menu .menu-content ul {
    margin-left: 20px;
  }
  .mobile-menu .menu-content ul li {
    display: block;
  }
  .mobile-menu .menu-content ul li a {
    display: inline-block;
    font-size: 18px;
    color: hsl(0deg, 0%, 0%);
    margin-bottom: 20px;
  }
  .mobile-menu .menu-content ul li a:hover {
    text-decoration: underline;
    text-decoration-color: hsl(43deg, 100%, 50%);
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
  }
  .mobile-menu .nav-right ul li a {
    background-color: transparent;
    border: none;
    font-weight: 400;
    padding: 0;
  }
  .mobile-menu .menu-joke {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    rotate: -12deg;
    margin-bottom: 30px;
    width: 70%;
  }
  .mobile-menu .menu-joke span {
    font-family: "Chiller";
    font-size: 22px;
    width: 235px;
  }
  .d-none-menu {
    position: unset;
    background-color: transparent;
    box-shadow: none;
    width: auto;
  }
}
@media (min-width: 1281px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 782px) {
  .mobile-menu-heading:has(.close) {
    margin-top: 18px !important;
  }
}
.container {
  margin: 0 auto;
}

.hero-grid {
  display: flex;
  gap: 80px;
  padding-top: 50px;
}

.hero-grid div:last-child {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-name {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 20px;
}

.hero-title span {
  font-family: "Abril Fatface";
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: none;
}

.hero-title span:nth-child(3) {
  color: hsl(43deg, 100%, 50%);
}

.hero-grid p {
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 40px;
}

@media (max-width: 780px) {
  .container {
    width: 90%;
  }
  .hero-grid {
    flex-direction: column;
  }
  .hero-grid div:last-child {
    display: none;
  }
  .hero-title span {
    font-size: 40px;
  }
}
@media (min-width: 781px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 780px) and (max-width: 1279px) {
  .hero-grid {
    flex-direction: row;
    gap: 60px;
  }
  .hero-title span {
    font-size: 60px;
    line-height: 70px;
  }
  .hero-title span:nth-child(3) {
    text-indent: 180px;
    font-size: 70px;
  }
  .hero-grid div:last-child {
    max-width: 50%;
  }
  .hero-grid div:last-child img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1920px;
  }
  .hero-title span {
    font-size: 100px;
    line-height: 130px;
    display: block;
  }
  .hero-title span:nth-child(3) {
    text-indent: 210px;
    font-size: 160px;
  }
  .hero-grid div:last-child {
    max-width: 50%;
  }
  .hero-grid div:last-child img {
    height: 100%;
  }
}
.container {
  margin: 0 auto;
}

.about-grid {
  display: flex;
}

.about-grid .column:first-child {
  flex-grow: 0;
  flex-shrink: 0;
}

.about-grid .about-me {
  flex: 1;
  background-color: hsla(43deg, 100%, 50%, 0.1);
}

.about-grid .column:first-child img {
  width: 100%;
  height: 100%;
}

.about-me {
  position: relative;
}

.about-me h1,
.about-me p {
  margin-bottom: 40px;
}

.about-me h1 {
  font-size: 36px;
  text-transform: uppercase;
}

.about-me .dot {
  background-color: hsl(43deg, 100%, 50%);
  border-radius: 9999px;
  display: grid;
  place-items: center;
}

.about-me .dot-joke {
  position: absolute;
}

.about-me-joke {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.about-me-joke span {
  width: 220px;
  font-family: "Chiller";
  font-size: 28px;
  text-align: center;
  display: block;
  rotate: -12.5deg;
  margin-top: 10%;
}

@media (max-width: 780px) {
  .about-me {
    padding: 60px;
  }
}
@media (max-width: 1279px) {
  .about-grid .column:first-child img {
    max-height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .about-grid {
    flex-direction: column;
  }
  .about-me .dot {
    width: 40px;
    height: 40px;
  }
  .about-me .dot-main {
    margin-bottom: 40px;
  }
  .about-me .dot-joke {
    top: -90px;
    right: 20px;
  }
}
@media (min-width: 780px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 780px) and (max-width: 1279px) {
  .about-grid .column:first-child img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .about-me {
    padding: 40px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1920px;
  }
  .about-grid {
    flex-direction: row;
  }
  .about-grid .column:first-child {
    max-width: 40%;
  }
  .about-me {
    padding: 100px;
  }
  .about-me .dot {
    width: 60px;
    height: 60px;
    position: absolute;
  }
  .about-me .dot-main {
    left: 40px;
    top: 40px;
  }
  .about-me .dot-joke {
    top: -90px;
    right: 60px;
  }
}
.section-books {
  padding: 80px 80px;
  background-color: hsla(48deg, 5%, 83%, 0.3);
}
.section-books h2 {
  text-align: center;
}

.books-content {
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin-top: 50px;
  padding-left: 35px;
  align-items: flex-start;
  justify-content: space-between;
}
.books-content .book-promo {
  width: 50vw;
  margin-top: 35px;
}
.books-content .book-promo a.button {
  margin-left: -35px;
  margin-top: 50px;
}

.books-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}
.books-grid-container .books-grid-item {
  text-align: center;
  position: relative;
  height: fit-content;
  width: 100%;
}
.books-grid-container .books-grid-item img {
  width: 100%;
  height: auto;
}
.books-grid-container .books-grid-item:nth-child(3) {
  grid-column: span 2;
}
.books-grid-container .books-hidden:hover,
.books-grid-container .books-grid-item img:hover + .books-hidden,
.books-grid-container .books-grid-item img:focus + .books-hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  height: 100%;
  background: linear-gradient(0deg, hsl(0deg, 0%, 0%), transparent);
  padding: 25px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}
.books-grid-container .books-hidden:hover h3,
.books-grid-container .books-grid-item img:hover + .books-hidden h3,
.books-grid-container .books-grid-item img:focus + .books-hidden h3 {
  text-transform: uppercase;
  color: hsl(43deg, 100%, 50%);
  border-bottom: 1px solid hsl(43deg, 100%, 50%);
  display: inline-block;
  font-size: 24px;
  margin-bottom: 15px;
}
.books-grid-container .books-hidden:hover p,
.books-grid-container .books-grid-item img:hover + .books-hidden p,
.books-grid-container .books-grid-item img:focus + .books-hidden p {
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
}

.block-container {
  position: relative;
  width: 100%;
  height: fit-content;
}
.block-container img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.block-container .border {
  top: -35px;
  left: -35px;
}

.books-hidden {
  display: none;
}

.section-work {
  position: relative;
  width: 100%;
}
.section-work div:not(:first-of-type) {
  margin: 0 5%;
}
.section-work .work-cover-img {
  width: 100%;
  height: 70vh;
  background-image: url("../rick-randy/images/Workshop.webp");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-work div.work-wrapper {
  width: 50%;
  padding: 50px 80px;
  position: absolute;
  margin-top: -100px;
  background-color: hsl(43deg, 100%, 50%);
}
.section-work div.work-wrapper p {
  margin-bottom: 50px;
}
.section-work .work-example-wrapper > div {
  position: relative;
  width: 50%;
  height: fit-content;
  margin: 8% 35px 35px 0;
  float: right;
}
.section-work .work-example-wrapper > div img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}
.section-work .work-example-wrapper > div .border {
  top: 35px;
  left: 35px;
}
.section-work div.quote-wrapper {
  position: absolute;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 6%;
}

.section-contact {
  padding: 80px;
  background-color: hsla(43deg, 100%, 50%, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.section-contact .contact-heading {
  align-self: flex-end;
  margin-bottom: 80px;
}
.section-contact .contact-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.section-contact .contact-info-wrapper .form-wrapper {
  width: 70%;
}
.section-contact .contact-info-wrapper form {
  width: 100%;
}
.section-contact .contact-info-wrapper input {
  border: none;
  border-bottom: 1px solid hsl(48deg, 5%, 83%);
  background: transparent;
  width: 45%;
  margin-right: 30px;
}
.section-contact .contact-info-wrapper input,
.section-contact .contact-info-wrapper textarea {
  outline: none;
  font-size: 18px;
  margin-bottom: 80px;
  padding: 10px 20px;
}
.section-contact .contact-info-wrapper textarea {
  display: block;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid hsl(48deg, 5%, 83%);
  width: calc(90% + 40px);
}
.section-contact .contact-info-wrapper input::placeholder,
.section-contact .contact-info-wrapper textarea::placeholder {
  color: hsl(0deg, 0%, 0%);
  font-family: "Poppins";
  font-size: 18px;
}
.section-contact .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.section-contact .contact-info p {
  text-align: end;
  margin-bottom: 10px;
}
.section-contact .contact-info p:last-of-type {
  font-weight: 600;
}
.section-contact .contact-info .stamp-wrapper {
  width: 200px;
  height: 120px;
  background-image: url("../rick-randy/images/Stamp.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.heading h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 30px;
}

.content-wrapper .content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
.content-wrapper .content-grid .grid-elem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content-wrapper .content-grid .grid-elem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content-wrapper .content-grid .grid-elem p {
  margin-bottom: 15px;
}
.content-wrapper .content-grid .grid-item {
  width: 100%;
  height: 100%;
  padding: 60px;
}
.content-wrapper .content-grid .grid-item > div {
  margin-bottom: 35px;
}
.content-wrapper .content-grid .grid-item h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
.content-wrapper .content-grid .grid-elem:nth-of-type(1) {
  order: 1;
}
.content-wrapper .content-grid .grid-elem:nth-of-type(2) {
  order: 2;
}
.content-wrapper .content-grid .grid-elem:nth-of-type(3) {
  order: 4;
}
.content-wrapper .content-grid .grid-elem:nth-of-type(4) {
  order: 3;
}
.content-wrapper .content-grid .grid-elem:nth-of-type(2) .grid-item {
  background-color: hsla(48deg, 5%, 83%, 0.3);
  text-align: left;
}
.content-wrapper .content-grid .grid-elem:nth-of-type(4) .grid-item {
  background-color: hsla(43deg, 100%, 50%, 0.1);
  text-align: right;
}

.content-wrapper .info-wrapper {
  margin-left: 18em;
  margin-right: 18em;
  text-align: center;
  background-image: url("../rick-randy//images/brace_left.svg"), url("../rick-randy//images/brace_right.svg");
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px 5px 5px 5px;
}
.content-wrapper .info-wrapper p {
  line-height: 20px;
}
.content-wrapper .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}
.content-wrapper .cards .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: hsla(48deg, 5%, 83%, 0.3);
  border-radius: 15px;
  box-shadow: 0 0 11px hsl(48deg, 5%, 83%);
  padding: 40px 40px;
}
.content-wrapper .cards .card-wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.content-wrapper .cards .card-header {
  background-color: hsl(43deg, 100%, 50%);
  font-weight: 600;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 11px hsl(48deg, 5%, 83%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.2%;
  height: 5%;
  position: absolute;
  top: 38%;
  left: 38.9%;
}
.content-wrapper .cards .card-body {
  justify-content: center;
  padding: 30px;
}
.content-wrapper .cards .card-body h2 {
  text-align: center;
  text-transform: none;
}
.content-wrapper .cards .card-body .card-money {
  font-size: 72px;
  padding: 30px;
  font-weight: 600;
  text-align: center;
}
.content-wrapper .cards .card-body .card-money span {
  font-size: 18px;
}
.content-wrapper .cards .card-body .card-custom {
  text-align: center;
  padding: 18px;
}
.content-wrapper .cards .card-body .card-heading {
  text-transform: uppercase;
  font-weight: 600;
}
.content-wrapper .cards .card-body li {
  list-style: none;
  position: relative;
  padding-left: 30px;
}
.content-wrapper .cards .card-body li:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../rick-randy//images/bullet_character.svg");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.content-wrapper .cards .button {
  align-self: center;
}

.container {
  margin: 0 auto;
}

footer {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  line-height: 28px;
  text-align: center;
}

footer span {
  color: hsl(43deg, 100%, 50%);
}

@media (max-width: 780px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 781px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1920px;
  }
}

/*# sourceMappingURL=style.css.map */
