/* source-sans-pro-200 - latin */
@font-face {
    font-family: 'Abril Fatface';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/abril_fatface/AbrilFatface-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/abril_fatface/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
        url('../fonts/abril_fatface/AbrilFatface-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/abril_fatface/AbrilFatface-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/abril_fatface/AbrilFatface-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/abril_fatface/AbrilFatface-Regular.svg#AbrilFatface-Regular') format('svg');  /* Legacy iOS */
}

@font-face {
    font-family: 'Chiller';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/chiller/Chiller-Regular.eot');
    src: url('../fonts/chiller/Chiller-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/chiller/Chiller-Regular.woff2') format('woff2'),
        url('../fonts/chiller/Chiller-Regular.woff') format('woff'),
        url('../fonts/chiller/Chiller-Regular.ttf') format('truetype'),
        url('../fonts/chiller/Chiller-Regular.svg#Chiller-Regular') format('svg');
}


@font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/poppins/Poppins-Regular.eot');
    src: url('../fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('../fonts/poppins/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/poppins/Poppins-SemiBold.eot');
    src: url('../fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
}
