.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }
  .menu-content {
    display: flex;
  }
  .nav-center {
    ul li {
      display: inline-block;
    }
    a {
      box-sizing: border-box;
      margin-right: 30px;
      color: $black;
      font-size: 22px;
      &:hover {
        text-decoration: underline;
        text-decoration-color: $primary;
        text-underline-offset: 6px;
        text-decoration-thickness: 3px;
      }
    }
  }

  .nav-left img {
    width: 70px;
    height: 70px;
  }

  .nav-right {
    ul li {
      display: inline-block;
    }
    a {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .nav-center,
  .nav-right {
    display: flex;
    align-items: center;
  }
