@media (max-width: 1279px) {
  .section-work {
    div.work-wrapper {
      padding: 50px 5%;
      position: unset;
      width: 100%;
      margin: 0;
    }
    .work-example-wrapper {
      > div {
        height: fit-content;
        width: 95%;
        float: none;
        margin: 50px 0;
      }
    }
  }

  .work-cover-img {
    height: 300px;
  }

  .section-work div.quote-wrapper {
    position: unset;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 6%;
    width: 30%;
}
}

@media (min-width: 1280px) {
  .section-work {
    div:not(:first-of-type) {
      margin: 0 5%;
    }
  }

  .work-cover-img {
    height: 70vh;
  }

  .section-work {
    div.work-wrapper {
      position: absolute;
      margin-top: -100px;
      width: 50%;
      padding: 50px 80px;
    }
  }

  .work-example-wrapper {
    > div {
      width: 50%;
      height: fit-content;
      margin: 8% 35px 35px 0;
      float: right;
    }
  }

  div.quote-wrapper {
    //position: absolute;
    margin-bottom: 50px;
    margin-left: 6%;
  }
}
