// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;

// BREAKPOINTS
$mobile: 780;
$desctop: $mobile + 1;

// COLORS

$primary: hsl(43, 100%, 50%);
$text-blackquotes: hsl(210, 53%, 14%);
$white: hsl(0, 0%, 100%);
$bg-grey: hsl(48, 55%, 83%);
$black: hsl(0, 0%, 0%);


