/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* source-sans-pro-200 - latin */
@font-face {
  font-family: "Abril Fatface";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/abril_fatface/AbrilFatface-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/abril_fatface/AbrilFatface-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_fatface/AbrilFatface-Regular.woff2") format("woff2"), url("../fonts/abril_fatface/AbrilFatface-Regular.woff") format("woff"), url("../fonts/abril_fatface/AbrilFatface-Regular.ttf") format("truetype"), url("../fonts/abril_fatface/AbrilFatface-Regular.svg#AbrilFatface-Regular") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Chiller";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/chiller/Chiller-Regular.eot");
  src: url("../fonts/chiller/Chiller-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/chiller/Chiller-Regular.woff2") format("woff2"), url("../fonts/chiller/Chiller-Regular.woff") format("woff"), url("../fonts/chiller/Chiller-Regular.ttf") format("truetype"), url("../fonts/chiller/Chiller-Regular.svg#Chiller-Regular") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/poppins/Poppins-Regular.eot");
  src: url("../fonts/poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/poppins/Poppins-SemiBold.eot");
  src: url("../fonts/poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
}
.hidden {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: normal;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 30px 0;
}

h1 > span,
h2 > span {
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  line-height: 26px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section {
  margin: 0 auto;
  width: 90%;
}

.button {
  padding: 10px 32px 10px 35px;
  height: 55px;
  border-radius: 30px;
  color: hsl(0deg, 0%, 0%);
  font-weight: 600;
}

.button-primary {
  background-color: hsl(43deg, 100%, 50%);
  border: 2px solid hsl(43deg, 100%, 50%);
}

.button-primary:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(43deg, 100%, 50%);
}

.button-secondary {
  background-color: hsl(0deg, 0%, 0%);
  border: 2px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}

.button-secondary:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 0%);
}

.heading-wrapper-braces {
  background-image: url("../images/brace_left.svg"), url("../images/brace_right.svg");
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px 70px 30px 70px;
}

.section-books {
  padding: 0px 80px;
}
.section-books h2 {
  text-align: center;
}

.books-content {
  display: flex;
  flex-direction: row;
  gap: 120px;
  margin: 70px 0px;
  padding-left: 35px;
  align-items: center;
}

.books-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}
.books-grid-container .books-grid-item {
  text-align: center;
  position: relative;
  height: fit-content;
  width: 100%;
  overflow: hidden;
}
.books-grid-container .books-grid-item img {
  width: 100%;
}
.books-grid-container .books-grid-item:nth-child(3) {
  grid-column: span 2;
}
.books-grid-container .books-grid-item img:hover + .books-hidden,
.books-grid-container .books-grid-item img:focus + .books-hidden {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  background: linear-gradient(180deg, black, transparent);
  padding: 25px;
  text-align: left;
  width: 100%;
}
.books-grid-container .books-grid-item img:hover + .books-hidden h3,
.books-grid-container .books-grid-item img:focus + .books-hidden h3 {
  text-transform: uppercase;
  color: hsl(43deg, 100%, 50%);
  border-bottom: 1px solid hsl(43deg, 100%, 50%);
  display: inline-block;
  font-size: 24px;
  margin-bottom: 15px;
}
.books-grid-container .books-grid-item img:hover + .books-hidden p,
.books-grid-container .books-grid-item img:focus + .books-hidden p {
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
}

.block-container {
  position: relative;
  width: inherit;
  height: fit-content;
  margin-bottom: 70px;
}
.block-container .block {
  width: inherit;
}
.block-container .border {
  position: absolute;
  z-index: -1;
  top: -35px;
  left: -35px;
  height: 100%;
  width: 100%;
  border: 1px solid hsl(0deg, 0%, 0%);
}

.books-hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
