/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* source-sans-pro-200 - latin */
@font-face {
  font-family: "Abril Fatface";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/abril_fatface/AbrilFatface-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/abril_fatface/AbrilFatface-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_fatface/AbrilFatface-Regular.woff2") format("woff2"), url("../fonts/abril_fatface/AbrilFatface-Regular.woff") format("woff"), url("../fonts/abril_fatface/AbrilFatface-Regular.ttf") format("truetype"), url("../fonts/abril_fatface/AbrilFatface-Regular.svg#AbrilFatface-Regular") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Chiller";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/chiller/Chiller-Regular.eot");
  src: url("../fonts/chiller/Chiller-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/chiller/Chiller-Regular.woff2") format("woff2"), url("../fonts/chiller/Chiller-Regular.woff") format("woff"), url("../fonts/chiller/Chiller-Regular.ttf") format("truetype"), url("../fonts/chiller/Chiller-Regular.svg#Chiller-Regular") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/poppins/Poppins-Regular.eot");
  src: url("../fonts/poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/poppins/Poppins-SemiBold.eot");
  src: url("../fonts/poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
}
.hidden {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: normal;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h1 > span,
h2 > span {
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  line-height: 26px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

section {
  margin: 0 auto;
  width: 90%;
}

.button {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 30px;
  color: hsl(0deg, 0%, 0%);
  font-weight: 600;
  font-size: 22px;
}

.button-primary {
  background-color: hsl(43deg, 100%, 50%);
  border: 2px solid hsl(43deg, 100%, 50%);
}

.button-primary:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(43deg, 100%, 50%);
}

.button-secondary {
  background-color: hsl(0deg, 0%, 0%);
  border: 2px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}

.button-secondary:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 0%);
}

.heading-wrapper-braces {
  background-image: url("../images/brace_left.svg"), url("../images/brace_right.svg");
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px 70px 30px 70px;
}

.border {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  border: 1px solid hsl(0deg, 0%, 0%);
}

.quote-wrapper {
  bottom: 0;
  width: 15%;
  text-align: center;
  rotate: 12.5deg;
  font-family: "Chiller";
  font-size: 26px;
  color: hsl(210deg, 53%, 14%);
}

.section-books {
  padding: 80px 80px;
  background-color: hsla(48deg, 5%, 83%, 0.3);
}
.section-books h2 {
  text-align: center;
}

.books-content {
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin-top: 50px;
  padding-left: 35px;
  align-items: flex-start;
  justify-content: space-between;
}
.books-content .book-promo {
  width: 50vw;
  margin-top: 35px;
}
.books-content .book-promo a.button {
  margin-left: -35px;
  margin-top: 50px;
}

.books-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}
.books-grid-container .books-grid-item {
  text-align: center;
  position: relative;
  height: fit-content;
  width: 100%;
}
.books-grid-container .books-grid-item img {
  width: 100%;
}
.books-grid-container .books-grid-item:nth-child(3) {
  grid-column: span 2;
}
.books-grid-container .books-hidden:hover,
.books-grid-container .books-grid-item img:hover + .books-hidden,
.books-grid-container .books-grid-item img:focus + .books-hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  height: 100%;
  background: linear-gradient(0deg, hsl(0deg, 0%, 0%), transparent);
  padding: 25px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}
.books-grid-container .books-hidden:hover h3,
.books-grid-container .books-grid-item img:hover + .books-hidden h3,
.books-grid-container .books-grid-item img:focus + .books-hidden h3 {
  text-transform: uppercase;
  color: hsl(43deg, 100%, 50%);
  border-bottom: 1px solid hsl(43deg, 100%, 50%);
  display: inline-block;
  font-size: 24px;
  margin-bottom: 15px;
}
.books-grid-container .books-hidden:hover p,
.books-grid-container .books-grid-item img:hover + .books-hidden p,
.books-grid-container .books-grid-item img:focus + .books-hidden p {
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
}

.block-container {
  position: relative;
  width: 100%;
  height: fit-content;
}
.block-container .block {
  width: 100%;
  position: relative;
  z-index: 2;
}
.block-container .border {
  top: -35px;
  left: -35px;
}

.books-hidden {
  display: none;
}

.section-work {
  position: relative;
  width: 100%;
}
.section-work div:not(:first-of-type) {
  margin: 0 5%;
}
.section-work .work-cover-img {
  width: 100%;
  height: 70vh;
  background-image: url(../images/Workshop.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-work div.work-wrapper {
  width: 50%;
  padding: 50px 80px;
  position: absolute;
  margin-top: -100px;
  background-color: hsl(43deg, 100%, 50%);
}
.section-work div.work-wrapper p {
  margin-bottom: 50px;
}
.section-work .work-example-wrapper > div {
  position: relative;
  width: 50%;
  height: fit-content;
  margin: 8% 35px 35px 0;
  float: right;
}
.section-work .work-example-wrapper > div img {
  position: relative;
  width: 100%;
  z-index: 2;
}
.section-work .work-example-wrapper > div .border {
  top: 35px;
  left: 35px;
}
.section-work div.quote-wrapper {
  position: absolute;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 6%;
}

.section-contact {
  padding: 80px;
  background-color: hsla(43deg, 100%, 50%, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.section-contact .contact-heading {
  align-self: flex-end;
  margin-bottom: 80px;
}
.section-contact .contact-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.section-contact .contact-info-wrapper .form-wrapper {
  width: 70%;
}
.section-contact .contact-info-wrapper form {
  width: 100%;
}
.section-contact .contact-info-wrapper input {
  border: none;
  border-bottom: 1px solid hsl(48deg, 5%, 83%);
  background: transparent;
  width: 45%;
  margin-right: 30px;
}
.section-contact .contact-info-wrapper input,
.section-contact .contact-info-wrapper textarea {
  outline: none;
  font-size: 18px;
  margin-bottom: 80px;
  padding: 10px 20px;
}
.section-contact .contact-info-wrapper textarea {
  display: block;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid hsl(48deg, 5%, 83%);
  width: calc(90% + 40px);
}
.section-contact .contact-info-wrapper input::placeholder,
.section-contact .contact-info-wrapper textarea::placeholder {
  color: hsl(0deg, 0%, 0%);
  font-family: "Poppins";
  font-size: 18px;
}
.section-contact .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.section-contact .contact-info p {
  text-align: end;
  margin-bottom: 10px;
}
.section-contact .contact-info p:last-of-type {
  font-weight: 600;
}
.section-contact .contact-info .stamp-wrapper {
  width: 200px;
  height: 120px;
  background-image: url(../images/Stamp.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
